@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-thumb{
  background-image: linear-gradient(to right bottom, #ff0000,rgb(0, 0, 0));
  border-radius: 20%;

}

::-webkit-scrollbar{
  width: 6px;
  height: 0;
}